flask                  # Pour créer l'API Flask
numpy<2
flask_cors
transformers           # Pour interagir avec le modèle GPT
torch==2.2.1+cpu # Pour exécuter les modèles de Transformers
-f https://download.pytorch.org/whl/torch_stable.html     
